/*This is a default CSS document*/
*{
    padding:0px;
    margin:0px;
    border:red dashed 1px;
}
/*This is the start of the webpage*/
.wrapper{
    min-height:1000px;
    min-width:1000px;
    background-color:white;
    z-index:-2;
    position:absolute;
}
    /*Define the classes below*/
    #put{
        height:760px;
        width:760px;
        background-color:white;
    }
    .dex{
        border:5px solid red;
        position:fixed;
        margin-left:760px;
        width:250px;
        height:500px;
    }
    .pokeSprite{
        height:75px;
        width:75px;
    }